body {
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background: lightgreen;
}

.profile {
    width:max-content;
    height: min-content;
    padding: 20px;
    border-radius:12px;
    background: #ECFFDC;
}

.profile h1{
    color: green;
    border: solid 3px green;
    border-radius: 10px;
    background-color: lightgreen;
    font-size: 36px;
    margin-bottom: 25px;
}

.profile p{
    color: #0BDA51;
    font-size: 36px;
    margin-bottom: 25px;
}

.profile a{
    color: green;
}

.lbutton{
margin-left: 2%;
border: green solid 2px;
border-radius: 20px;
}

.rbutton{
    margin-left: 60%;
    border: green solid 2px;
border-radius: 20px;
}